spacy == 2.3.8
git+https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz#egg=en_core_web_md==2.0.0
git+https://github.com/PrithivirajDamodaran/Gramformer.git
streamlit
torch
